a:visited:not(.project_url) {
	color: rgb(0,0,238);
}

.section {
	position: static !important;
	margin-top: 0em !important;
}

h2 {
	font-weight: bold !important;
}

.reference:target {
	background: #ffffff !important;
}

#hint {
	display: block !important;
}

#footer div {
	width: 22em !important;
}

body {
	width: calc(100% - 5em) !important;
	margin-left: 2.9em !important;
}

#footer {
	visibility: collapse;
}

.noprint {
	visibility: collapse;
	display: none;
}

#toc {
	visibility: collapse !important;
}

h1.section {
}

h2.section {
	top: 0em !important;
	position: static !important;
}

h2 {
}

#name {
	font-size: 3.85em !important;
}

#header {
	height: 5em !important;
}

td.label {
	padding-top: 0.5em !important;
}

.subtitle {
	margin-bottom: 0.2em !important;
}

.content {
	padding-bottom: 0em !important;
}

.content p {
	margin: 0em !important;
}

td.title {
	font-size: 0.8em !important;
	padding-top: 0.4em !important;
	padding-bottom: 0.2em !important;
}

td.additional_title {
	padding-top: 0em !important;
}

.trim_end {
	margin-top: 0.3em !important;
	break-after: avoid;
}

.multicolumn_print {
	column-count: 2;
	column-gap: 1.5em;
}

.publication {
	margin-top: 0.5em !important;
	margin-bottom: 0.3em !important;
}

#skills {
	padding-right: 0.5em;
	margin-top: 0.3em;
}

#skills p {
	margin-top: 0em !important;
}

#projects, #contributions {
	padding-top: 0.4em !important;
	padding-right: 0.5em !important;
}
.project_title {
	gap: 0.5em !important;
}

.project_header {
	margin-top: 0em !important;
}

.project_title h2 {
	font-size: 1.2em !important;
}

.project_description p {
	margin-top: 0.2em !important;
	margin-bottom: 0.5em !important;
}
.project_info {
	flex-basis: 15em !important;
}
.project_topics {
	flex-basis: 10em !important;
}
body {
	font-size: 0.95em;
}

.contrib_project_title:after {
	content: "-";
}

.contrib_project_title {
	display: inline !important;
}

.skill {
	margin-top: 0.2em;
	margin-bottom: 0.2em;
}

.skill_header {
	font-size: 1.1em !important;
	display: inline !important;
	margin-bottom: 0em !important;
}

.skill_header:after {
	content: "-";
	margin-left: 0.3em;
	margin-right: 0.1em;
}

#projects {
	break-after: page;
}

.references ul {
	margin-top: 0em;
	margin-left: -1em;
}

#references {
	margin-top: 0.4em;
}

.references li {
	margin: 0em;
}
