/* Known bug: chromium doesn't print webfont correctly, font-weights are sometimes ignored */
/*@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@700&family=Playfair+Display:wght@400;700&family=Fira+Sans+Condensed:wght@300&family=EB+Garamond:wght@400&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@700&family=Playfair+Display:wght@400;700&family=Fira+Sans+Condensed:wght@300&family=EB+Garamond:wght@400&family=Crimson+Text:ital,wght@1,700&display=swap');

#name {
	font-size: 4.8em;
	font-weight: normal;
	vertical-align: baseline;
}

/* probably too big */
#header {
	font-family: 'Playfair Display', serif;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: baseline;
	justify-content: space-between;
	height: 6em;
}

.contact_entry {
	font-size: 0.92em;
	text-align: right;
}

.display {
	font-family: Playfair Display;
}

.offset {
	padding-left: 1em;
	padding-top: 1em;
}
#skills {
	padding-left: 0.5em;
	scroll-margin-top: 3em;
}

#skills p {
}

#footer {
	/*width: 102%;*/
	border-top: 1.5px solid black;
	margin-top: 2em;
	margin-bottom: 1em;
	font-size: 0.7em;
}

#footer div {
	width: 26em;
	margin: auto;
	text-align-last: justify;
}

#other {
	display: flex;
	flex-direction: column-reverse;
	text-align: right;
	color: #444444;
}

.contact_entry img {
	width: 1em;
	height: 1em;
	margin-right: 0.3em;
	vertical-align: middle;
	align-self: flex-end;
}

#other div {
}

td.label {
	border-right: 1px solid black;
	vertical-align: baseline;
	width: 4.5em;
	padding-right: 0.5em;
	text-align: right;
	padding-top: 1em;
	font-family: 'Fira Sans Condensed', sans-serif;
	filter: drop-shadow(1, 1);
}

td.title {
	padding-left: 1em;
	padding-top: 1em;
	padding-bottom: 0.2em;
}

td.title h2 {
	margin-bottom: 0;
	margin-top: 0;
	display: inline;
}

.title, .section {
	font-family: 'Playfair Display', serif;
}

.additional_title {
	font-weight: bold;
	font-style: italic;
	text-align: right;
	opacity: 0.5;
	font-size: 1.3em;
	font-family: 'Crimson Text', serif;
}

td.additional_title {
	width: 0;
	white-space: nowrap;
	padding-top: 1em;
	vertical-align: bottom;
}

.content {
	padding-left: 1em;
	padding-bottom: 0.5em;
}

.subtitle {
	font-size: 0.9em;
	margin-bottom: 0.8em;
	opacity: 0.7;
}
.subtitle img {
	width: 1em;
	height: 1em;
	transform: translate(0,0.1em);
}

.languages {
	vertical-align: baseline;
}

ul {
	list-style-type: decimal;
}

.reference {
	transition: background 1s;
	padding-left: 0.5em;
	margin-right: 1em;
	padding-right: 0.4em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.reference:target {
	background: #dddddd;
}

table {
	border-spacing: 0;
	width: 100%;
}

td {
	padding-bottom: 0;
	padding-top: 0;
}

#contact {
	vertical-align: baseline;
}

#content {
	width: 98%;
	margin-left: auto;
	margin-right: auto;
}

.language_bar {
	height: 0.4em;
	opacity: 0.8;
	display: flex;
	border-radius: 5px;
	overflow: hidden;
}

.language_dots {
	padding-top: 0.2em;
	display: flex;
	justify-content: space-between;
	width: 80%;
	margin-bottom: 0.5em;
	flex-wrap: wrap;
}

.language_dot {
	display: flex;
	align-items: center;
	font-size: 0.8em;
	font-family: sans;
}

#projects, #contributions {
	padding-left: 0.5em;
	scroll-margin-top: 5em;
}

.project_url {
	text-decoration: none;
	color: black;
}

.project_info {
	display: flex;
	flex-direction: column;
	flex-grow: 10;
	flex-basis: 1em;
	flex-shrink: 0;
}

.project_header {
	display: flex;
	justify-content: stretch;
	align-items: center;
	flex-wrap: wrap;
	gap: 1em;
	row-gap: 0;
	break-after: avoid;
	margin-top: 1em;
}
.project_topics {
	width: 20%;
	text-align: right;
	font-size: 0.75em;
	opacity: 0.4;
	vertical-align: baseline;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 8em;
}
p {
	break-inside: avoid;
}

#opensource {
}
.contrib_project_title {
	font-size: 1.2em;
	font-family: 'Playfair Display', serif;
	white-space: nowrap;
	font-weight: bold;
	display: block;
	margin-top: 0.6em;
	margin-bottom: 0.2em;
}

.project_title {
	font-family: 'Playfair Display', serif;
	flex-wrap: wrap;
	display: flex;
	gap: 1em;
	padding-left: 0.2em;
	padding-bottom: 0.2em;
	white-space: nowrap;
	align-items: baseline;
}
.project_title h2 {
	margin: 0px;
}
.project_stats {
	display: inline-block;
	justify-content: start;
	font-size: 0.9em;
	opacity: 0.8;
	white-space: nowrap;
	font-family: serif;
}
.project_stats img {
	vertical-align: middle;
}
.project_description {
	padding-left: 0.2em;
	break-inside: avoid;
}

.project_description p {
	margin-top: 0.2em;
	margin-bottom: 1.5em;
}

.archived {
	margin-left: 0.5em;
}

.project_title a {
	align-self: flex-end;
}

.octicon-link {
	width: 0.9em;
	height: 0.9em;
	padding-bottom: 0.2em;
	margin-left: 1em;
	opacity: 0.8;
}

.project_title > img {
	width: 0.9em;
	height: 0.9em;
	padding-bottom: 0.2em;
	margin-left: 1.1em;
	margin-right: 0.1em;
	opacity: 0.8;
	align-self: flex-end;
}

.dot {
	height: 0.6em;
	width: 0.6em;
	margin: 0.2em;
	border-radius: 50%;
	background-color: black;
}

.language_bar span {
	background-color: black;
}

.section {
	border-bottom: 1px solid black;
	position: sticky;
	background: white;
	margin-bottom: 0;
	padding-bottom: 0.1em;
}

#main {
	position: relative;
}

h1.section {
	top: 0px;
	font-size: 2em;
	z-index: 100;
}

#main {
	background: white;
}

ol {
	counter-reset: item;
	list-style-type: none;
}

ol > li {
	margin-left: -0.5em;
}

#toc li:before {
	content: counters(item, ".") ". ";
	counter-increment: item;
}

#toc {
	position: absolute;
	top: 0em;
	height: 100%;
	z-index: -100;
}
#toc > ol {
	position: sticky;
	top: 1em;
}

@media screen and (max-width:70em) {
	#toc {
		left: 0em;
		transition: left 0.8s ease-in;
	}
}

@media screen and (min-width:70em) {
	#toc {
		left: -14em;
		transition: left 0.8s ease-out;
	}
}

h2.section {
	top: calc(1.9em + 1px);
	z-index: 99;
}

.project_owner {
	font-weight: normal;
}

.gpa_icon {
	display: inline-block;
	font-style:normal;
	font-weight:bold;
	font-family:'Barlow Condensed', sans-serif;
	transform: scale(0.85, 1);
}

.subsubsection {
	margin-top: 0.8em;
	margin-bottom: 0.4em;
	font-weight: bold;
}
.content p {
	margin-bottom: 0.5em;
	margin-top: 0.5em;
}

.flex-justify {
	display: flex;
	justify-content: space-between;
}

.contributions {
}

.contribution-stats {
	font-weight: lighter;
	font-size: 0.8em;
	opacity: 0.6;
}

.publication {
	margin: 1em 1em;
}

body {
	width: 40em;
	margin: auto;
	font-family: 'EB Garamond', sans-serif;
}

.footnote-reference a:before {
	content: "[";
}

.footnote-reference a:after {
	content: "]";
}

.footnote-reference {
	font-size: 0.6em;
	position: relative;
	margin-left: 0.1em;
}

#hint {
	position: absolute;
	left: 0em;
	top: 1em;
	text-align: center;
	padding: 0.6em 0.1em 0.6em 0.2em;
	border-radius: 0 1em 1em 0;
	border: 1.5px solid black;
	border-left: 0px;
	writing-mode: vertical-rl;
	font-size: 1em;
	display: none;
	line-height: 1.2em;
}

.references ul {
	font-size: 0.8em;
}

.trim_end {
	margin-bottom: 0.2em;
	margin-top: 0.8em;
}

.skill_header {
	font-size: 1.3em;
	font-weight: bold;
	display: block;
	margin-bottom: 0.3em;
}

.contrib {
	margin-bottom: 0.8em;
}
