<html>
	<head>
		<link href="style.css" rel="stylesheet" type="text/css">
		<link href="print_style.css" rel="stylesheet" media="print" type="text/css">
		<meta charset="utf8">
		<title>{{ name }}</title>
	</head>
	<body>
		{% if resume_url.is_some() %}
		<div id="hint"><a href="{{ resume_url.unwrap() }}">
			View<br>Online
		</a></div>
		{% endif %}
		<div id="main">
		<div id="toc">
			<ol>
				<li><a href="#education">Education</a></li>
				<li><a href="#work">Work</a></li>
				<li><a href="#opensource">Open Source</a>
					<ol>
					<li><a href="#projects">Projects</a></li>
					<li><a href="#contributions">Contributions</a></li>
					</ol>
				</li>
				<li><a href="#skills">Skills</a></li>
				<li><a href="#publication">Publications</a></li>
			</ol>
		</div>
		<div id="header">
			<div id="name">{{ name }}</div>
			<div class="contact_entry">
			<div style="display:inline-block;">
			{% for contact in contacts %}
				{% match contact.icon %}
					{% when Some with (icon) %}
					<img src="{{ icon }}"/>
					{% when None %}
				{% endmatch %}
				{% match contact.link %}
					{% when Some with (link) %}
					<a href="{{ link }}">{{ contact.value }}</a>
					{% when None %}
					{{ contact.value }}
				{% endmatch %}
				<br>
			{% endfor %}
			</div>
			</div>
		</div>
		<div id="content">
		<div>
		<h1 class="section" id="education">Education</h1>
		<table>
		{% for education in educations %}
		<tr class="pagebreak">
			<td class="label" rowspan="2">{{ education.duration.to_resume_string() }}</td>
			<td class="title"><h2>{{ education.institution }}</h2></td>
			<td class="additional_title">{{ education.degree.to_resume_string() }}</td>
		</tr>
		<tr class="nopagebreak">
			<td colspan="2" class="content">
				<div class="subtitle">
					<img src="icons/certificate-diploma.svg"/> {{ education.major }}
					{% if education.location.is_some() %}
					<img src="icons/location.svg"/> {{ education.location.as_ref().unwrap() }}
					{% endif %}
					{% if education.gpa.is_some() %}
					<div class="gpa_icon">GPA</div> {{ education.gpa.as_ref().unwrap() }}
					{% endif %}
				</div>
			</td>
		</tr>
		{% endfor %}
		</table>
		<h1 class="section" id="work">Work</h2>
		<table>
		{% for experience in experiences %}
		<tr class="pagebreak">
			<td class="label" rowspan="2">{{ experience.duration.to_resume_string() }}</td>
			<td class="title"><h2>{{ experience.company }}</h2></td>
			<td class="additional_title">{{experience.position}}</td>
		</tr>
		<tr class="nopagebreak">
			<td colspan="2" class=content>
				<div class="subtitle">
					{% if experience.location.is_some() %}
					<img src="icons/location.svg"/> {{ experience.location.as_ref().unwrap() }}
					{% endif %}
				</div>
				{{ experience.description.clone()|md|safe }}
			</td>
		</tr>
		{% endfor %}
		</table>
		</div>
		<div>
		<h1 class="section" id="opensource" >Open Source</h1>
		<h2 class="section">Projects</h2>
		<div id="projects" class="multicolumn_print">
		{% for project in projects %}
		{% if project.role == Some(ProjectRole::Owner) %}
		{% include "project.html" %}
		{% endif %}
		{% endfor %}
		</div>
		<h2 class="section">Contributions</h2>
		<div id="contributions" class="multicolumn_print">
		{% for project in projects %}
		{% if project.role == Some(ProjectRole::Contributor) %}
		{% include "contribution.html" %}
		{% endif %}
		{% endfor %}
		</div>
		</div>

		{% if !skills.is_empty() %}
		<div>
		<h1 class="section">Skills</h1>
		<div id="skills" class="multicolumn_print">
		{% for s in skills %}
		<p class="skill">
			<span class="display skill_header">{{ s.category }}</span>
			{% if s.description.is_some() %}
			{{ s.description.as_ref().unwrap()|inline_md|safe }}
			{% endif %}
		</p>
		{% endfor %}
		</div>
		</div>
		{% endif %}
		{% if !publications.is_empty() %}
		<div>
		<h1 class="section" id="publication">Publications</h1>
		<table>
		{% for (p, y) in publications %}
		<tr>
			<td class="label">
				{% if y.is_some() %}
				{{ y.unwrap() }}
				{% endif %}
			</td>
			<td><div class="publication">{{ p|emph(name) }}</div></td>
		</tr>
		{% endfor %}
		</table>
		</div>
		{% endif %}
		{% if !references.is_empty() %}
		<div class="references">
		<h1 class="section">References</h1>
		<div id="references" class="multicolumn_print">
		<ul>
		{% for (k, v) in references %}
		<li id="{{ k }}" class="reference">{{ v }}</li>
		{% endfor %}
		</ul>
		</div>
		</div>
		{% endif %}
		<div id="footer"><div>Created with <a href="https://github.com/yshui/briefly"><i>briefly</i></a>, a resume generator by <a href="https://github.com/yshui">yshui</a>. <span class="noprint">Hosted on <a href="https://ipfs.io">ipfs</a>.</span> </div></div>
		</div>
	</body>
</html>
