<html>
	<head>
		<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700&display=swap" rel="stylesheet">
		<link href="style.css" rel="stylesheet" type="text/css">
		<meta charset="utf8">
	</head>
	<body>
		<div id="header">
			<div id="name">{{ name }}</div>
			<div id="other">
				{% for contact in contacts %}
				<div>
					{% match contact.icon %}
						{% when Some with (icon) %}
						<img src="{{ icon }}"/>
						{% when None %}
					{% endmatch %}
					{% match contact.link %}
						{% when Some with (link) %}
						<a href="{{ link }}">{{ contact.value }}</a>
						{% when None %}
						{{ contact.value }}
					{% endmatch %}
				</div>
				{% endfor %}
			</div>
		</div>
		<div id="content">
		<div>
		<h1 class="section">Education</h1>
		<table>
		{% for education in educations %}
		<tr>
			<td class="label">{{ education.degree.to_resume_string() }}</td>
			<td class="desc"><h2>{{ education.institution }}</h2>
				{{ education.major }}, {{ education.duration.to_resume_string() }}
			</td>
		</tr>
		{% endfor %}
		</table>
		</div>
		<h1 class="section" id="experiences">Experiences</h2>
		<table>
		{% for experience in experiences %}
		<tr>
			<td class="label">{{ experience.duration.to_resume_string() }}</td>
			<td class="desc"><h2>{{ experience.company }}</h2>
				{% match experience.description %}
					{% when Some with (desc) %}
						{{ desc }}
					{% when None %}
				{% endmatch %}
			</td>
		</tr>
		{% endfor %}
		</table>
		<h2 id="project">Project</h2>
		<h3 id="personal-projects">Personal projects</h3>
		<p>asdf</p>
		<p>qwerqt</p>
		<h3 id="course-projects-word">Course projects (word?)</h3>
		<h2 id="open-source-contribution">Open Source Contribution</h2>
		<p>…</p>
		<h2 id="publication">Publication</h2>
		</div>
	</body>
</html>
