<html>
	<head>
		<link href="style.css" rel="stylesheet" type="text/css">
		<link href="print_style.css" rel="stylesheet" media="print" type="text/css">
		<meta charset="utf8">
		<title>{{ name }}</title>
	</head>
	<body>
		{% if resume_url.is_some() %}
		<div id="hint"><a href="{{ resume_url.unwrap() }}">
			View Web<br>Version
		</a></div>
		{% endif %}
		<div id="header">
			<div id="name">{{ name }}</div>
			<div id="other">
				{% for contact in contacts %}
				<div class="contact_entry">
					{% match contact.icon %}
						{% when Some with (icon) %}
						<img src="{{ icon }}"/>
						{% when None %}
					{% endmatch %}
					{% match contact.link %}
						{% when Some with (link) %}
						<a href="{{ link }}">{{ contact.value }}</a>
						{% when None %}
						{{ contact.value }}
					{% endmatch %}
				</div>
				{% endfor %}
			</div>
		</div>
		<div id="content">
		<div>
		<h1 class="section">Education</h1>
		<table>
		{% for education in educations %}
		<tr class="pagebreak">
			<td class="label" rowspan="2">{{ education.duration.to_resume_string() }}</td>
			<td class="title"><h2>{{ education.institution }}</h2></td>
			<td class="additional_title">{{ education.degree.to_resume_string() }}</td>
		</tr>
		<tr class="nopagebreak">
			<td colspan="2" class="content">
				<div class="subtitle">
					<img src="icons/certificate-diploma.svg"/> {{ education.major }}
					{% if education.location.is_some() %}
					<img src="icons/location.svg"/> {{ education.location.as_ref().unwrap() }}
					{% endif %}
					{% if education.gpa.is_some() %}
					<div class="gpa_icon">GPA</div> {{ education.gpa.as_ref().unwrap() }}
					{% endif %}
				</div>
			</td>
		</tr>
		{% endfor %}
		</table>
		</div>
		<div>
		<h1 class="section" id="experiences">Experiences</h2>
		<table>
		{% for experience in experiences %}
		<tr class="pagebreak">
			<td class="label" rowspan="2">{{ experience.duration.to_resume_string() }}</td>
			<td class="title"><h2>{{ experience.company }}</h2></td>
			<td class="additional_title">{{experience.position}}</td>
		</tr>
		<tr class="nopagebreak">
			<td colspan="2" class=content>
				<div class="subtitle">
					{% if experience.location.is_some() %}
					<img src="icons/location.svg"/> {{ experience.location.as_ref().unwrap() }}
					{% endif %}
				</div>
				{{ experience.description | md | safe }}
			</td>
		</tr>
		{% endfor %}
		</table>
		</div>
		<div>
		<h1 class="section">Selected Projects</h1>
		<table>
		{% for project in projects %}
		<tr class="pagebreak">
			<td class="label" rowspan="3"></td>
			<td class="title" colspan="2">
			<div style="display:flex;justify-content:space-between;align-items:baseline">
			<div class="project_title">
			<h2>
				{% if project.url.is_some() %}
				<a href="{{ project.url.as_ref().unwrap() }}" class="project_url">
				{% endif %}
				{% if project.role.is_some() && project.role.unwrap() == ProjectRole::Contributor %}
				<span class="project_owner">{{ project.owner.as_ref().unwrap() }}/</span>{% endif %}{{ project.name }}
				{% if project.url.is_some() %}
				</a>
				{% endif %}
			</h2>
			{% if project.active.is_none() || project.active.unwrap() %}
				{% if project.stars.is_some() %}
				<img src="icons/star.svg"/><span class="project_stats">	{{ project.stars.unwrap() }}</span>
				{% endif %}
				{% if project.forks.is_some() %}
				<img src="icons/fork.svg"/><span class="project_stats">	{{ project.forks.unwrap() }}</span>
				{% endif %}
			{% endif %}
			{% if project.active.is_some() && !project.active.unwrap() %}
			<span class="project_stats archived">[archived]</span>
			{% endif %}
			{% if false %}<a href="{{ project.url.as_ref().unwrap() }}"><img src="icons/link.svg"/>	</a>{% endif %}
			</div>
			{% if project.role.is_some() %}
			<span class="additional_title">
				{{ project.role.as_ref().unwrap() }}
			</span>
			{% endif %}
			</div>
			</td>
		</tr>
		<tr class="nopagebreak">
			<td class="languages">
			{% if !project.languages.is_empty() %}
			{{ project.languages | language_stats }}
			{% endif %}
			</td>
			<td class="topics">
				{% for topic in project.tags %}
				#{{ topic }}
				{% endfor %}
				{% if project.tags.is_empty() %}
				<span style="opacity: 0">&nbsp;</span>
				{% endif %}
			</td>
		</tr>
		<tr class="nopagebreak">
			<td colspan="2" class="content">
				{% if project.description.is_some() %}
				<div>{{ project.description.as_ref().unwrap() | md | safe }}</div>
				{% endif %}
				{% if project.contributions.is_some() %}
				<div class="contributions">
					<div class="subsubsection">
						Contributions<br>
						<span class="contribution-stats">
					{% if project.commits.is_some() %}
					{{ project.commits.unwrap() }}
					{% if project.commits.unwrap() > 1 %}
					commits
					{% else %}
					commit
					{% endif %}
					{% endif %}
					{% if project.additions.is_some() %}
					{{ project.additions.unwrap() }} ++
					{% endif %}
					{% if project.deletions.is_some() %}
					{{ project.deletions.unwrap() }} --
					{% endif %}
						</span>
					</div>
				{{ project.contributions.as_ref().unwrap() | md | safe }}
				</div>
				{% endif %}
			</td>
		</tr>
		{% endfor %}
		</table>
		</div>
		{% if !skills.is_empty() %}
		<div>
		<h1 class="section">Additional Skills</h1>
		<table>
			{% for s in skills %}
			<tr>
				<td class="label">&nbsp;</td>
				<td class="offset">
					<h3 class="display trim_end">{{ s.category }}</h3>
					{% if s.description.is_some() %}
					{{ s.description.as_ref().unwrap() }}
					{% endif %}
				</td>
			</tr>
			{% endfor %}
		</table>
		</div>
		{% endif %}
		{% if !publications.is_empty() %}
		<div>
		<h1 class="section">Publications</h1>
		<table>
		{% for (p, y) in publications %}
		<tr>
			<td class="label">
				{% if y.is_some() %}
				{{ y.unwrap() }}
				{% endif %}
			</td>
			<td><div class="publication">{{ p|emph(name) }}</div></td>
		</tr>
		{% endfor %}
		</table>
		</div>
		{% endif %}
		{% if !references.is_empty() %}
		<div class="references">
		<h1 class="section">References</h1>
		<ul>
		{% for (k, v) in references %}
		<li id="{{ k }}" class="reference">{{ v }}</li>
		{% endfor %}
		</ul>
		</div>
		{% endif %}
		<div id="footer"><div>Created with <i>briefly</i>, a resume generator by <a href="https://github.com/yshui">yshui</a> </div></div>
	</body>
</html>
